/***************************************************/

$main-bg: #fafafa;
$main-blue: #494cb4;

$redbox: #dc3545;

$basic-size: 16px;
$basic-lg-size: 28px;
$basic-xl-size: 42px;
$basic-box-shadow: 1px 1px 5px gray;

$box-skyblue: #87ceeb;
$box-green: #40c95b;
$box-yellow: #ffdb89;


h1{
	font-size: $basic-xl-size;
}

.search-btn{
	width: 40px;
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 0 4px 4px 0;
	border: none;
}

@mixin box-left-color($color) {
	border-left: solid $color;
}

.left-skyblue{
	@include box-left-color($box-skyblue)
}

.left-blue{
	@include box-left-color($main-blue)
}

.left-green{
	@include box-left-color($box-green)
}

.left-yellow{
	@include box-left-color($box-yellow)
}

/***************************************************/

.header{
	width: 95%;
	height: 75px;
	background-color: white;
	float: right;
	box-shadow: $basic-box-shadow;
	z-index: 1;
}

.header-container{
	padding: $basic-size;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-myPage{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: gray;	
}

.header-myPage div{
	margin: 0 $basic-size 0 $basic-size;
}

.header-myPage-box{
	position: relative;
}

.myPage-redbox{
	width: 100%;
	height: 100%;
	background-color: $redbox;
	color: white;
	position: absolute;
	top: -8px;
	right: -8px;
	font-size: 50%;
	border-radius: 3px;
}

.myPage-redbox p{
	position: absolute;
	top: 4px;
	left: 4px;
}



.sidebar{
	width: 5%;
	height: 100%;
	background-color: #494cb4;
	float: left;
	padding: $basic-lg-size;
}

.sidebar-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.sidebar-container div{	
	margin-bottom: $basic-lg-size;
	text-align: center;
}

.sidebar-container i{		
	font-size: 20px;
}


.content{
	padding: $basic-lg-size;
	width: 95%;	
	float: right;
	background-color: $main-bg;
}

.content div{
	margin-bottom: $basic-size;
}


.content-card{
	width: 320px;
	height: 140px;
	padding: $basic-lg-size;	
	border-radius: 8px;	
	background-color: white;
	box-shadow: $basic-box-shadow;
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.content-card-text{
	font-size: 20px;

	p{
		margin-bottom: $basic-size;
	}
	
	strong{
		font-weight: bold;
		margin-bottom: $basic-size;
	}	
}

.content-card-icon i{
	color: gray;
	font-size: $basic-xl-size;
}
