@font-face {
    font-family: '고딕';
    src: url(../font/gothic.ttf);
}

.profile {
    width: 100px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title{
    text-align: center;
    font-size: 16px;
}

.content{
    text-align: center;
}

.box{
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    /* border: 4px solid black; */
    border-radius: 5px;
    margin-left: auto; 
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

.container{
    width: 800px;
}

.header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
}

.right{
    width: 80%;
    height: 400px;
    background-color: coral;
    /* float: left; */
    display: inline-block;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: gray;
    /* clear: both; */
}

/**************************************************************/

.navbar li{
    display: inline-block;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
}


/**************************************************************/

body{
    margin: 0px;
    position: relative;
    /* font-family: 'gulim', 'dotum', 'arial'; */
    font-family: '고딕';
}

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* background-attachment: fixed; */
    /* filter: brightness(70%); */
    padding-top: 1px;
}

.main-title{
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.main-content{
    color: white;
}

.main-button{
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 80px;
}

.main-box{
    background-color: #eee;
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 25px;
    position: absolute;
    top: 500px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}

.main-box-title{
    font-weight: bold;
}

.main-box-content{
    color: gray;
}

.input-background{
    position: relative;
    width: 100%;
    top: 300px;
    background-color: #373737;
    padding-top: 200px;
}

.input-content{
    /* position: relative;
    top: 300px; */
    background-color: white;
    width: 60%;
    max-width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}

.input-content div{
    padding: 10px;
}

.input-content label{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-content input{
    border: 3px solid #eee;
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

.input-content input[type="email"]{
    width: 100%;
}

.input-content input[type="submit"]{
    width: 80px;
    background-color: #ffbf35;
    color: white;
    border: none;
    border-radius: 2px;
    float: right;
}

.input-content-name{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.input-content-name input{
    width: 100%;
}

.input-message{
    clear: both;
}

.input-message textarea{
    width: 100%;
    max-width: 500px;
    height: 200px;
    border: 3px solid #eee;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 16px;
    resize: none;
}

/*********************************************************************/

table{
    border-collapse: collapse;
    background-color: white;    
}

th{
    color: #133761;
    text-align: center;
}

td, th{
    border: 1px solid #b2ccd6;
    border-style: none;
    padding: 8px;
}

.cart-background{
    background-color: #b2ccd6;
    color: #133761;
    width: 100%;
    height: auto;
}

.cart-container{
    width: 100%;
    padding: 32px 180px 32px 180px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.cart-table{
    width: 100%;
    height: auto;
    border-radius: 8px;
    color: #b2ccd6;
}

.cart-table td,
.cart-table th {
    border-style: solid none;
    vertical-align: middle;
}

.cart-footer button{
    margin: 16px 0 16px 0;
    width: 250px;
    height: 70px;
    background-color: #133761;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: chocolate;
}

.btn:focus{
    background-color: grey;
}

.btn:active{
    background-color: brown;
}

.input-test{
    font-size: 20px;
}

.input-test:focus{
    border: 2px solid red;
}

.custom-link{
    text-decoration: none;
}

.custom-link:link{
    color: violet;
}

.custom-link:visited{
    color: black;
}

/*********************************************************/

.flex-container{
    padding: 6px;
    display: flex;    
    background-color: #ff7576;
    color: white;
}

.flex-container h1{
    padding: 8px;
    color: white;
}

.flex-container h2{
    padding: 8px;    
    color: white;
}

/*********************************************************/

.response-container{
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.response-container div{
    padding: 16px;
    font-size: 1rem;
}

.response-container i{
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}

/*********************************************************/

.shop-bg{
    background-color: #eee;
    padding: 20px;
    position: relative;
    top: 300px;
}

.shop-container{
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item{
    width: 33%;
    padding: 10px;
}

.shop-item img{
    width: 100%;
    display: block;
}

.overlay-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-container:hover .half-overlay{
    bottom: -50%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
}

.overlay:hover{
    opacity: 1;
}

.half-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    bottom: -100%;
    transition: all 1s;    
}


@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px;
    }

    .response-container div{
        margin: 0px 160px 0 160px;
    }
    
}

@media screen and (max-width: 768px) {
    .main-title{
        font-size: 20px;
    }

    .response-container{
        flex-direction: column;
    }
    
}