body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div{
    box-sizing: border-box;
}

$main-color: brown;

$btn-bg-blue: #007bff;

/***********************************************/

ul{
    list-style: none;
    
    li{
        width: 500px;
        padding: 16px;
        border: 1px solid #eee;
        
    }

    li.active{
        background-color: $btn-bg-blue;
        color: white;
    }
}



